* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 以下、footerをbuttonに常時表示するための記述 */
/* reactでは、bodyではなくid="root"のエレメントに対して設定 */

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}